# Backend Environment Variables
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/food-rescue?retryWrites=true&w=majority
# JWT_SECRET=your_jwt_secret_here (if needed for later)
